<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
           {{>header}}
           <form>
               <input placeholder="Location">
               <button>Search</button>
           </form>
           <hr>
           <div style="margin-top: 50px;">
           <p id="errorMessage" hidden = "true"></p>
           <table hidden = "true" style="border: slategrey;">
               <tr>
                   <th align="left">Loaction</th>
               </tr>
               <tr id="location">
               </tr>
               <tr>
                   <th align="left">Forecast</th>
               </tr>
               <tr id="forecastData">
               </tr>
           </table>
           </div>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>